{{ partial "top.html" . }}


<h1>{{ .Title }}</h1>
{{ partial "breadcrumbs.html" . }}

<div class="project_intro">
    This {{ if eq .Params.state "running"}}is a running{{else}}was a{{ end }} project at HSBXL. See <a href="/projects">other space projects</a>. <br />
    {{ if isset .Params "maintainer"}}If you want more info about this project, ask '{{ .Params.maintainer }}'.{{end}}
</div>

{{ partial "toc.html" . }}

<article>
    {{ if isset .Params "image"}}
    <img class="content_image" src="/images/{{ .Params.image }}">
    {{ end }}
    {{ .Content }}
</article>


{{ partial "bottom.html" . }}

